<nav id="mainMenu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/secondpage">SecondPage</a></li>
        <li><a href="/example">Example</a></li>
        <li><a href="/template1">Template1</a></li>
        <li><a href="/template2">Template2</a></li>
        <li><a href="/students">People</a></li>
    </ul>
</nav>