<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Example</title> -->
    <%- include("partials/head.ejs", { title: "EJS Example" }) %>
</head>

<body>
    <header>
        <%- include("partials/menu.ejs") %>
    </header>
    <h1>Example file</h1>
</body>

</html>